.navbar {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1.5rem;

  background: #0f141a;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

/* LEFT */
.navbar__brand {
  font-weight: 800;
  color: #ff7a3d;
  font-size: 1.2rem;
}

/* CENTER */
.navbar__center {
  display: flex;
  gap: 2rem;
}

.navbar__center a {
  color: #aaa;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}

.navbar__center a:hover {
  color: white;
}

.navbar__center a.active {
  color: #ff7a3d;
}

/* RIGHT */
.navbar__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__search {
  background: #1b2128;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: white;
}

.navbar__icon {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}
