<div class="sidebar">
  <div class="sidebar__top">
    <a routerLink="/dashboard" routerLinkActive="active" class="sidebar__item">
      Dashboard
    </a>

    <a routerLink="/inventory" routerLinkActive="active" class="sidebar__item">
      Inventario
    </a>

    <a routerLink="/sales" routerLinkActive="active" class="sidebar__item">
      Ventas
    </a>

    <a routerLink="/orders" routerLinkActive="active" class="sidebar__item">
      Pedidos
    </a>
  </div>

  <div class="sidebar__bottom">
    <span>Sistema operativo</span>
  </div>
</div>
